version: 2

anchors:
  - &base
    build:
    parallelism: 3
    docker:
      - image: circleci/ruby:2.6.0-node
        environment:
          BUNDLE_JOBS: "3"
          BUNDLE_RETRY: "3"
          BUNDLE_PATH: vendor/bundle
          PGHOST: 127.0.0.1
          PGUSER: "circleci-demo-ruby"
          RAILS_ENV: test
      - image: circleci/postgres:9.5-alpine
        environment:
          POSTGRES_USER: "circleci-demo-ruby"
          POSTGRES_DB: rails-webpacker4-autolint
          POSTGRES_PASSWORD: ""

  - &bundler
    name: Which bundler?
    command: bundle -v

  - &bundle
    name: Bundle Install
    command: bundle check || bundle install

  - &restore_gem_cach
    keys:
    - rails-demo-bundle-v2-{{ checksum "Gemfile.lock" }}
    - rails-demo-bundle-v2-
    paths:
    - vendor/bundle

  - &yarn
    name: Yarn Install
    command: yarn install --cache-folder ~/.cache/yarn

  - &restore_yarn_cache
    keys:
    - rails-demo-yarn-{{ checksum "yarn.lock" }}
    - rails-demo-yarn-

  - &save_yarn_cache
    key: rails-demo-yarn-{{ checksum "yarn.lock" }}
    paths:
    - ~/.cache/yarn

  - &db_wait
    name: Wait for DB
    command: dockerize -wait tcp://localhost:5432 -timeout 1m

  - &db_setup
    name: Database setup
    command: bin/rails db:reset

  - &prettier
    name: Run prettier
    command: yarn check-prettier

  - &eslint
    name: Run eslint
    command: yarn check-eslint

  - &rubocop
    name: Run rubocop
    command: bundle exec rubocop

  - &haml_lint
    name: Run haml-lint
    command: bundle exec haml-lint app/views

  - &sass_lint
    name: Run sass lint
    command: yarn check-sass

jobs:
  prettier:
    <<: *base
    steps:
      - checkout
      - run: *bundler
      - run: *bundle
      - restore_cache: *restore_yarn_cache
      - run: *yarn
      - save_cache: *save_yarn_cache
      - run: *db_wait
      - run: *db_setup
      - run: *prettier

      - store_test_results:
          path: test_results


  eslint:
    <<: *base
    steps:
      - checkout
      - run: *bundler
      - run: *bundle
      - restore_cache: *restore_yarn_cache
      - run: *yarn
      - save_cache: *save_yarn_cache
      - run: *db_wait
      - run: *db_setup
      - run: *eslint
      - store_test_results:
          path: test_results

  rubocop:
    <<: *base
    steps:
      - checkout
      - run: *bundler
      - run: *bundle
      - restore_cache: *restore_yarn_cache
      - run: *yarn
      - save_cache: *save_yarn_cache
      - run: *db_wait
      - run: *db_setup
      - run: *rubocop
      - store_test_results:
          path: test_results

  haml-lint:
    <<: *base
    steps:
      - checkout
      - run: *bundler
      - run: *bundle
      - restore_cache: *restore_yarn_cache
      - run: *yarn
      - save_cache: *save_yarn_cache
      - run: *db_wait
      - run: *db_setup
      - run: *haml_lint
      - store_test_results:
          path: test_results

  sass-lint:
    <<: *base
    steps:
      - checkout
      - run: *bundler
      - run: *bundle
      - restore_cache: *restore_yarn_cache
      - run: *yarn
      - save_cache: *save_yarn_cache
      - run: *db_wait
      - run: *db_setup
      - run: *sass_lint
      - store_test_results:
          path: test_results

workflows:
  version: 2
  build:
    jobs:
      - prettier
      - eslint
      - rubocop
      # - haml-lint
      # - sass-lint
